<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="zh-CN" layout:decorator="layout">
<head>
    <title>用户列表</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <!-- 后端变量在这里处理 -->
    <script th:inline="javascript">
        var page = [[${page}]];
    </script>
    <script src="/common/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="/common/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="/common/plugins/datepicker/datepicker3.css">
</head>
<body>
<div class="wrapper">
    <img style="position: absolute;top: 0;left: 0;background: #eee; width: 100%; height: 100%; border: 0; padding: 0; margin: 0" src="/common/lte/img/bg5.jpg"/>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><i class="fa fa-sign-in"></i>
                家族收益列表
                <small>查看家族收益列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 家族管理</a></li>
                <li class="active">家族收益列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section id="main" class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-info">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <h3 class="box-title"><i class="fa fa-filter"></i>筛选条件</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>搜索内容:</label>
                                    <div class="input-group input-group-md">
                                        <div class="input-group-btn">
                                            <button type="button" id="sel_name" class="btn btn-info dropdown-toggle" data-toggle="dropdown">家族名称
                                                <span class="fa fa-caret-down"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">家族名称</a></li>
                                                <li><a href="#">族长ID</a></li>
                                                <li><a href="#">族长昵称</a></li>
                                            </ul>

                                        </div>
                                        <!-- /btn-group -->
                                        <input type="text" id="txt_query" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-8">
                                    <label><i class="fa fa-calendar-o">&nbsp;</i>筛选时间</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input class="form-control pull-right" id="txt-date-range" type="text" style="text-align: center" th:value="|${dateStart}|">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <a class="btn btn-primary pull-left" onclick="onSearch()"><i class="fa fa-fw fa-search"></i>&nbsp;查&nbsp;&nbsp;询</a>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <a class="btn btn-primary pull-left" onclick="reset_form()"><i class="fa fa-fw fa-refresh"></i>&nbsp;重&nbsp;&nbsp;置</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="firstDiv"></div>
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title" style="">结果</h3>
                        </div>
                        <div class="box-body">
                            <table id="dg-user" class="table table-bordered table-hover"
                                   data-url="/family/income/list"
                                   data-toolbar="#toolbar"
                                   data-show-refresh="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-query-params="getQueryParams"
                                   data-toggle="table"
                                   data-pagination="true"
                                   data-side-pagination="server"
                                   data-search="false"
                                   data-show-export="true">
                                <thead>
                                <tr>
                                    <th data-field="familyName"
                                        data-th-align="center"
                                        data-align="center">家族名称
                                    </th>
                                    <th data-field="familyPortrait"
                                        data-formatter="YPP.formatter.avatar"
                                        data-th-align="center"
                                        data-align="center">家族头像</th>
                                    <th data-field="familyNick"
                                        data-th-align="center"
                                        data-align="center">族长昵称</th>
                                    <th data-field="patriarchId"
                                        data-th-align="center"
                                        data-align="center">族长ID
                                    </th>
                                    <th data-field="contributionValue"
                                        data-th-align="center"
                                        data-align="center">月总贡献值</th>
                                    <th data-field="contributionIncome"
                                        data-th-align="center"
                                        data-align="center">月总收益
                                    </th>
                                    <th data-field="patriarchIncome"
                                        data-th-align="center"
                                        data-align="center">族长月收益
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>


<script layout:fragment="scripts" th:inline="javascript">
   var sel_choose='家族名称';
    /**
     *
     * 查询用户信息
     * */
    function onSearch() {
        var pageSize = $('#dg-user').bootstrapTable('getOptions')['pageSize'];
        var queryParam = getQueryParams({'offset': 0, 'limit': pageSize});
        $('#dg-user').bootstrapTable('refresh', {
            'url': '/family/income/list',
            'query': queryParam
        });
    }
   /**
    *
    * 获取选择queryType
    * */
   function getParamQueryType(){
       var queryType='familyName';
       if(sel_choose !=null){
           switch(sel_choose){
               case '家族名称':
                   queryType='familyName';
                   break;
               case '族长ID':
                   queryType='patriarchId';
                   break;
               case '族长昵称':
                   queryType='patriarchNick';
                   break;
           }
       }
       return queryType
   }
   /**
    * 重置所有属性
    * @param obj
    * @returns {boolean}
    */
   function reset_form(){
       $('#txt_query').val("");
   }

    // 获取查询参数 type=1 onSearch内容 type=0 onOperation内容
    function getQueryParams(params) {
           var date = $('#txt-date-range').val();
           var input_name = $('#txt_query').val();
           params[getParamQueryType()] = input_name;
           params['date'] = date;
        return params;
    }


    $(function () {
        $('#txt-date-range').datepicker({minViewMode: 1,format: 'yyyy-mm', language: 'zh-CN', autoclose: true, endDate: [[${dateStart}]]});
        $("#dg-user").bootstrapTable("showLoading");
        $('.dropdown-menu li').on('click', function () {
            $('#sel_name').text($(this).text()).append('<span class="fa fa-caret-down"></span>');
            sel_choose = $(this).text();
        });
    });

</script>
</body>
</html>