<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="zh-CN" layout:decorator="layout">
<head>
    <title>系统公告管理</title>
    <link rel="stylesheet" href="/common/plugins/colorpicker/bootstrap-colorpicker.min.css"/>
    <!-- 后端变量在这里处理 -->
    <script th:inline="javascript">
        var page = [[${page}]];
    </script>
    <script type="text/javascript" id="asdf" th:src="@{/content/basic/version.js}"></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <!--<img style="position: absolute;top: 0;left: 0;background: #eee; width: 100%; height: 100%; border: 0; padding: 0; margin: 0" src="/common/lte/img/bg5.jpg"/>-->
    <section class="content-header">
        <h1><i class="fa fa-tags">&nbsp;</i>系统公告管理</h1>
    </section>

    <section class="content">
        <div class="box box-default div_table_content">
            <div class="box-header">
                <i class="fa fa-list"></i>
                <h4 class="box-title">系统公告列表</h4>
            </div>
            <div class="box-body">
                <div id="toolbar">
                    <!--<a class="btn btn-success" data-toggle="modal" data-target="#modal_add"><i class="fa fa-fw fa-plus"></i>添加</a>-->
                    <!--<a class="btn btn-warning"><i class="fa fa-fw fa-plus"></i>通知客户端</a>-->
                </div>
                <table class="table table-bordered table-hover table_main" id="table_main"
                       data-url="/content/version/list"
                       data-toolbar="#toolbar"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-export="true"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="false">
                    <thead>
                    <tr>
                        <th data-halign="center" data-align="center" data-visible="false" data-field="id">ID</th>
                        <th data-halign="center" data-align="left" data-field="shortName">字段名</th>
                        <th data-halign="center" data-align="center" data-field="apiVersion">系统公告号</th>
                        <th data-halign="center" data-align="left" data-field="name">字段描述</th>
                        <th data-halign="center" data-align="left" data-field="path">路径</th>
                        <th data-halign="center" data-align="center" data-field="createTime">创建时间</th>
                        <th data-halign="center" data-align="center" data-field="updateTime">更新时间</th>
                        <th data-halign="center" data-align="center" data-formatter="operation" data-field="id" data-events="operateEvents">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>

    <!-- 添加系统公告控制 -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加系统公告控制</h4>
                </div>
                <div class="modal-body ">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="input_name" class="col-sm-3 control-label">字段名</label>
                            <div class="col-sm-9">
                                <input class="hide" id="input_id">
                                <input type="text" class="form-control" disabled="disabled" id="input_short_name" placeholder="输入字段名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_name" class="col-sm-3 control-label">系统公告号</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="input_api_version" placeholder="输入系统公告号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_name" class="col-sm-3 control-label">字段描述</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="input_name" placeholder="输入字段描述">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_name" class="col-sm-3 control-label">路径</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" disabled="disabled" id="input_path" placeholder="输入路径">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">取消</button>
                    <button type="button" onclick="commit()" class="btn btn-success">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>