<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="zh-CN" layout:decorator="layout">
<head>
    <title>用户列表</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <!-- 后端变量在这里处理 -->
    <script th:inline="javascript">
        var page = [[${page}]];
    </script>
    <link rel="stylesheet" href="/common/plugins/colorpicker/bootstrap-colorpicker.min.css"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><i class="fa fa-mobile"></i>
                验证码列表
                <small>查看手机验证码详细信息列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 用户管理</a></li>
                <li class="active">验证码列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section id="main" class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-info">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <h3 class="box-title">筛选条件</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>搜索内容:</label>
                                    <div class="input-group input-group-md">
                                        <div class="input-group-btn">
                                            <button type="button" id="sel_name" class="btn btn-info dropdown-toggle" data-toggle="dropdown">手机号</button>
                                        </div>
                                        <!-- /btn-group -->
                                        <input type="text" id="txt_query" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group"></div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <a class="btn btn-primary pull-left" onclick="onSearch()"><i class="fa fa-fw fa-search"></i>&nbsp;查&nbsp;&nbsp;询</a>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <a class="btn btn-primary pull-left" onclick="reset_form()"><i class="fa fa-fw fa-refresh"></i>&nbsp;重&nbsp;&nbsp;置</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="firstDiv"></div>
                    <div class="box box-success">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <h3 class="box-title" style="">结果</h3>
                        </div>
                        <div class="box-body">
                            <table id="dg-user" class="table table-bordered table-hover"
                                   data-url="/user/code/list"
                                   data-toolbar="#toolbar"
                                   data-show-refresh="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-query-params="getQueryParams"
                                   data-toggle="table"
                                   data-pagination="true"
                                   data-side-pagination="server"
                                   data-search="false"
                                   data-show-export="true">
                                <thead>
                                <tr>
                                    <th data-field="mobile"
                                        data-th-align="center"
                                        data-align="center">手机号
                                    </th>
                                    <th data-field="code"
                                        data-th-align="center"
                                        data-align="center">验证码</th>
                                    <th data-field="create_time"
                                        data-th-align="center"
                                        data-align="center">发送时间</th>
                                    <th data-field="code_status"
                                        data-formatter="codeState"
                                        data-th-align="center"
                                        data-align="center">验证状态
                                    </th>
                                    <th data-field="codeName"
                                        data-formatter="typeState"
                                        data-th-align="center"
                                        data-align="center">名称</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>


<script layout:fragment="scripts" th:inline="javascript">

    function onSearch() {
        var pageSize = $('#dg-user').bootstrapTable('getOptions')['pageSize'];
        var queryParam = getQueryParams({'offset': 0, 'limit': pageSize});
        $('#dg-user').bootstrapTable('refresh', {
            'url': '/user/code/list',
            'query': queryParam
        });
    }

   /**
    * 重置所有属性
    * @param obj
    * @returns {boolean}
    */
   function reset_form(){
       $('#txt_query').val("");

   }

    // 获取查询参数 type=1 onSearch内容 type=0 onOperation内容
    function getQueryParams(params) {
        var mobile = $('#txt_query').val();
        params['mobile']= mobile;
        return params;
    }



    $(function () {
        $('#txt-date-range').daterangepicker({
            autoApply: true,
            locale: DATE_LOCAL_DAY,
           maxDate: [[${dateStart}]]
        });
        $("#dg-user").bootstrapTable("showLoading");


    });

   //状态格式化显示
   function typeState(value) {
       switch (value){
           case 'login':
               return "<span style='color: green'>登陆验证码</span>";
               break;
           case 'mobile':
               return "<span style='color: blue'>更换手机号新手机验证</span>";
               break;
           case 'old_mobile':
               return "<span style='color: black'>更新手机号老手机验证</span>";
               break;
           case 'password':
               return "<span style='color: darkolivegreen'>修改密码</span>";
               break;
           case 'register':
               return "<span style='color: forestgreen'>注册验证码</span>";
               break;
       }
   }
    //状态格式化显示
    function codeState(value) {
        switch (value){
            case 0:
                return "<span style='color: green'>未验证</span>";
                break;
            case 1:
                return "<span style='color: blue'>已经验证</span>";
                break;
        }
    }

</script>
</body>
</html>