<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="zh-CN" layout:decorator="layout">
<head>
    <title>系统用户</title>
    <!-- 后端变量在这里处理 -->
    <script th:inline="javascript">
        var page = [[${page}]];
    </script>
    <script type="text/javascript" id="asdf" th:src="@{/content/system/user.js}"></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <!--<img style="position: absolute;top: 0;left: 0;background: #eee; width: 100%; height: 100%; border: 0; padding: 0; margin: 0" src="/common/lte/img/bg5.jpg"/>-->
    <section class="content-header">
        <h1><i class="fa fa-tags">&nbsp;</i>系统用户管理</h1>
    </section>

    <section class="content">
        <div class="box box-default div_table_content">
            <div class="box-header">
                <i class="fa fa-list"></i>
                <h4 class="box-title">系统用户列表</h4>
            </div>
            <div class="box-body">
                <div id="toolbar">
                    <a class="btn btn-success" data-toggle="modal" onclick="toAdd()"><i class="fa fa-fw fa-plus"></i>新增用户</a>
                </div>
                <table class="table table-bordered table-hover table_main" id="table_main"
                       data-url="/content/system/user/list"
                       data-toolbar="#toolbar"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-export="true"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="false">
                    <thead>
                    <tr>
                        <th data-halign="center" data-align="center" data-visible="false" data-field="id">ID</th>
                        <th data-halign="center" data-align="left" data-field="name">用户名</th>
                        <th data-halign="center" data-align="left" data-formatter="userRoles" data-field="roles">角色信息</th>
                        <th data-halign="center" data-align="center" data-field="updateTime">更新时间</th>
                        <th data-halign="center" data-align="center" data-formatter="operation" data-field="id" data-events="operateEvents">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>

    <!-- 添加类型 -->
    <div class="modal fade" id="modal_add" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加系统用户</h4>
                </div>
                <div class="modal-body ">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="input_name" class="col-sm-3 control-label">用户名</label>
                            <div class="col-sm-9">
                                <input class="hide" id="input_id">
                                <input type="text" class="form-control" id="input_name" placeholder="输入用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_password" class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-9">
                                <input type="password" title="为空表示不修改密码！" data-toggle="tooltip" class="form-control" id="input_password" placeholder="输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_roles" class="col-sm-3 control-label">角色信息</label>
                            <div class="col-sm-9">
                                <select class="form-control js-example-basic-single select2" multiple="multiple" id="input_roles" style="width: 100%;">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">取消</button>
                    <button type="button" onclick="commit()" class="btn btn-success">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>