<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="zh-CN" layout:decorator="layout">
<head>
    <title>首页</title>
</head>
<body>
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Eryu后台管理平台
                <small>综合管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 管理平台</a></li>
                <li class="active">首页</li>
            </ol>
        </section>

        <section class="content">
            <h1 text="你好！欢迎使用鱼泡泡数据平台。"></h1>
        </section>
    </div>
</div>
</body>
</html>